{% extends 'home/base.html' %}
{% block content %}
<!-- <style type="text/css"> ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   }

 </style> -->

<div class="container-fluid mt-1">
<div class="block-center">
  <div class="card ">

  <div class="card-body bg-light mb-1">
  	 <li class="list-group  "><h4>Товары в корзине:</h4></li>
 
  	 {% for product in basket_list %}
     <ul class="list-group-item d-flex justify-content-between align-items-center">
  	 <li class="list-group mb-1 ">
  	 	<a href="{% url 'product_detail_url' slug=product.product_describe.slug %}" >{{product.product_describe}}</a>
      <a href="{% url 'delete_product_basket_url'  slug=product.product_describe.slug %}"> (Удалить с корзины) </a>

     </li>

    </ul>
<form action="{% url 'change_count_basket_url'  slug=product.product_describe.slug %}", method="post">
        {% csrf_token %}

<button type="submit" class="btn" name='minus' value="0">-</button>
 {{product.count}}

 <button type="submit" class="btn" name='plus'  value="1">+</button>
 </form>

    {%  endfor %}

      
  </div>
  {% if basket_list %}
  <li class="list-group mb-1 ">Товаров на сумму: <h5>{{sum_product}}</h5> </li>
   <div class="card-body bg-light mb-1">
    <form class="form-inline my-2 my-lg-0" action="{% url 'clear_basket_url' %}" method='post'>{% csrf_token %}
     <li>  <button type="submit" class="btn btn-primary btn-lg">Очистить корзину</button></li>
     </form>
     <form class="form-inline my-2 my-lg-0" action="{% url 'phone_for_order_url' %}" method='post'>{% csrf_token %}
       <li> <button type="submit" class="btn btn-primary btn-lg" > Оформить товары в корзине</button></li>
       <input type="hidden" name="sum" value='{{sum_product}}'>
    </form>
       <a  href="{% url 'get_coupon_form_url' %}"> <li> <button type="submit" class="btn btn-primary btn-lg""> Ввести купон</button></li>
</a>
</div>

   {% endif %}
 </div>

</div>


{% endblock %}