{% extends 'home/base.html' %}
{% block content %}

<div class="container-fluid mt-1">
<div class="block-center">
  <div class="card ">

  <div class="card-body bg-light mb-1">
  	 <li class="list-group  "><h4>Товары в корзине:</h4></li>
 
  	 {% for product in basket_list %}
  	 <li class="list-group mb-1 ">
  	 	<a href="{% url 'product_detail_url' slug=product.product_describe.slug %}">{{product.product_describe}}</a>
  	 </li>

  	{%  endfor %}


      
  </div>
  {% if basket_list %}
  <li class="list-group mb-1 ">Товаров на сумму: <h5>{{sum_product}}</h5> </li>
   <div class="card-body bg-light mb-1">
    <form class="form-inline my-2 my-lg-0" action="{% url 'clear_basket_url' %}" method='post'>{% csrf_token %}
     <li>  <button type="submit" class="btn btn-primary btn-lg">Очистить корзину</button></li>
     </form>
     <form class="form-inline my-2 my-lg-0" action="{% url 'phone_for_order_url' %}" method='post'>{% csrf_token %}
       <li> <button type="submit" class="btn btn-primary btn-lg" > Оформить товары в корзине</button></li>
    </form>
</div>

   {% endif %}
 </div>

</div>


{% endblock %}