{% block content %}
<div class="container-fluid mt-1">

{% if products_category %}
<li class="list-group "><h4>Товары по категории {{products_category}}:<h4></li>


{% else %}
<li class="list-group "><h4>Товары:<h4></li>
{% endif %}

  <div class="card">

  	{% for content in products %}
  <div class="card-body bg-light mb-2">

  	 <li class="list-group "><h4><a href="{% url 'product_detail_url' slug=content.slug%}">{{content.title}}</a><h4></li>
     Рейтинг товара: {{content.rating.rating}}
      <li class="list-group mb-1 ">   {% if content.image %}
    <p> <img src="{{content.image.url}}"></p>
 
{% else %}
   <p> Нет изображения </p>
{% endif %}</li>
  	 <li class="list-group mb-1 ">Цена: {{content.price}}</li>
  	 <li class="list-group mb-1 "></li>
	   <li class="list-group mb-1 "> Колличество товаров на складе {{content.product.count_products}}</li>
  	 <li class="list-group mb-1 "> Краткое описание:</li>
  	 <li class="list-group mb-1 ">{{content.body}}</li>
  	 
  <a href="{% url 'add_basket_url' slug=content.slug product_id=content.product_id%}">

     <button type="submit" class="btn btn-primary btn-lg">Добавить в корзину</button>
    </a>
   
  </div>

  {% endfor %}
 </div>

</div>
{% endblock %}