{% block content %}
<div class="container-fluid mt-1">

{% if srch_cat %}
<li class="list-group "><h4>Товары по категории {{srch_cat}}:<h4></li>


{% else %}
<li class="list-group "><h4>Товары:<h4></li>
{% endif %}

  <div class="card">

  	{% for content in items_list %}
  <div class="card-body bg-light mb-2">

  	 <li class="list-group "><h4><a href="{% url 'item_detail_url' slug=content.slug%}">{{content.title}}</a><h4></li>
      <li class="list-group mb-1 ">   {% if content.image %}
    <p> <img src="{{content.image.url}}"></p>
 
{% else %}
   <p> Нет изображения </p>
{% endif %}</li>
  	 <li class="list-group mb-1 ">Цена:</li>
  	 <li class="list-group mb-1 ">{{content.price}}</li>
	
  	 <li class="list-group mb-1 ">Описание:</li>
  	 <li class="list-group mb-1 ">{{content.body}}</li>
  	 
  
   
  </div>

  {% endfor %}
 </div>

</div>
{% endblock %}